:root { /*Todo: more colors, gradients, more color shades (to be held off for a bit), fix order of colors in white*/
    --j-color-scheme: unknown;
    --j-palete-pitch-black: #000;
    --j-palete-black: #222;
    --j-palete-black-0: #000;
    --j-palete-black-1: #111;
    --j-palete-black-2: #222;
    --j-palete-black-3: #333;
    --j-palete-black-4: #444;
    --j-palete-black-5: #555;
    --j-palete-black-6: #666;
    --j-palete-black-7: #777;
    --j-palete-black-8: #888;
    --j-palete-black-9: #999;
    --j-palete-black-10: #aaa;
    --j-palete-black-11: #bbb;
    --j-palete-black-12: #ccc;
    --j-palete-black-13: #ddd;
    --j-palete-black-14: #eee;
    --j-palete-black-15: #fff;
    --j-palete-pitch-white: #fff;
    --j-palete-white: #ddd;
    --j-palete-white-16: #000;
    --j-palete-white-15: #111;
    --j-palete-white-14: #222;
    --j-palete-white-13: #333;
    --j-palete-white-12: #444;
    --j-palete-white-11: #555;
    --j-palete-white-10: #666;
    --j-palete-white-9: #777;
    --j-palete-white-8: #888;
    --j-palete-white-7: #999;
    --j-palete-white-6: #aaa;
    --j-palete-white-5: #bbb;
    --j-palete-white-4: #ccc;
    --j-palete-white-3: #ddd;
    --j-palete-white-2: #eee;
    --j-palete-white-1: #fff;
    --j-palete-pitch-red: #f00;
    --j-palete-red: #d11;
    --j-palete-red-0: #f00;
    --j-palete-red-1: #f11;
    --j-palete-red-2: #f22;
    --j-palete-red-3: #f33;
    --j-palete-red-4: #f44;
    --j-palete-red-5: #f55;
    --j-palete-red-6: #f66;
    --j-palete-red-7: #f77;
    --j-palete-red-8: #f88;
    --j-palete-red-9: #f99;
    --j-palete-red-10: #faa;
    --j-palete-red-11: #fbb;
    --j-palete-red-12: #fcc;
    --j-palete-red-13: #fdd;
    --j-palete-red-14: #fee;
    --j-palete-red-15: #fff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --j-color-scheme: dark;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --j-color-scheme: light;
    }
}