:root { /*Todo: more colors, gradients, more color shades (to be held off for a bit), fix order of colors in white, sort colors in order*/
    --j-color-scheme: unknown; /*Colors to add: red, orange, yellow, green, blue, purple, teal, light blue, light green, pink, black, white, grey/gray*/
    --j-palete-pitch-black: #000; /*Color sort order: red, orange, yellow, green, light green, teal, blue, light blue, purple, pink, black, grey/gray, white*/
    --j-palete-black: #222;
    --j-palete-black-0: #000;
    --j-palete-black-1: #111;
    --j-palete-black-2: #222;
    --j-palete-black-3: #333;
    --j-palete-black-4: #444;
    --j-palete-black-5: #555;
    --j-palete-black-6: #666;
    --j-palete-black-7: #777;
    --j-palete-black-8: #888;
    --j-palete-black-9: #999;
    --j-palete-black-10: #aaa;
    --j-palete-black-11: #bbb;
    --j-palete-black-12: #ccc;
    --j-palete-black-13: #ddd;
    --j-palete-black-14: #eee;
    --j-palete-black-15: #fff;
    --j-palete-pitch-white: #fff;
    --j-palete-white: #ddd;
    --j-palete-white-16: #000;
    --j-palete-white-15: #111;
    --j-palete-white-14: #222;
    --j-palete-white-13: #333;
    --j-palete-white-12: #444;
    --j-palete-white-11: #555;
    --j-palete-white-10: #666;
    --j-palete-white-9: #777;
    --j-palete-white-8: #888;
    --j-palete-white-7: #999;
    --j-palete-white-6: #aaa;
    --j-palete-white-5: #bbb;
    --j-palete-white-4: #ccc;
    --j-palete-white-3: #ddd;
    --j-palete-white-2: #eee;
    --j-palete-white-1: #fff;
    --j-palete-pitch-red: #f00;
    --j-palete-red: #d11;
    --j-palete-red-0: #f00;
    --j-palete-red-1: #f11;
    --j-palete-red-2: #f22;
    --j-palete-red-3: #f33;
    --j-palete-red-4: #f44;
    --j-palete-red-5: #f55;
    --j-palete-red-6: #f66;
    --j-palete-red-7: #f77;
    --j-palete-red-8: #f88;
    --j-palete-red-9: #f99;
    --j-palete-red-10: #faa;
    --j-palete-red-11: #fbb;
    --j-palete-red-12: #fcc;
    --j-palete-red-13: #fdd;
    --j-palete-red-14: #fee;
    --j-palete-red-15: #fff;
    --j-palete-pitch-light-green: #0f0;
    --j-palete-light-green: #2f2;
    --j-palete-light-green-0: #0f0;
    --j-palete-light-green-1: #1f1;
    --j-palete-light-green-2: #1f2;
    --j-palete-light-green-3: #3f3;
    --j-palete-light-green-4: #4f4;
    --j-palete-light-green-5: #5f5;
    --j-palete-light-green-6: #6f6;
    --j-palete-light-green-7: #7f7;
    --j-palete-light-green-8: #8f8;
    --j-palete-light-green-9: #9f9;
    --j-palete-light-green-10: #afa;
    --j-palete-light-green-11: #bfb;
    --j-palete-light-green-12: #cfc;
    --j-palete-light-green-13: #dfd;
    --j-palete-light-green-14: #efe;
    --j-palete-light-green-15: #fff;
    --j-palete-pitch-blue: #00f;
    --j-palete-blue: #33d;
    --j-palete-blue-0: #00f;
    --j-palete-blue-1: #11f;
    --j-palete-blue-2: #22f;
    --j-palete-blue-3: #33f;
    --j-palete-blue-4: #44f;
    --j-palete-blue-5: #55f;
    --j-palete-blue-6: #66f;
    --j-palete-blue-7: #77f;
    --j-palete-blue-8: #88f;
    --j-palete-blue-9: #99f;
    --j-palete-blue-10: #aaf;
    --j-palete-blue-11: #bbf;
    --j-palete-blue-12: #ccf;
    --j-palete-blue-13: #ddf;
    --j-palete-blue-14: #eef;
    --j-palete-blue-15: #fff;
    --j-palete-pitch-orange: #f70;
    --j-palete-orange: #f70;
    --j-palete-orange-0: #f70;
    --j-palete-orange-1: #f71;
    --j-palete-orange-2: #f72;
    --j-palete-orange-3: #f73;
    --j-palete-orange-4: #f74;
    --j-palete-orange-5: #f75;
    --j-palete-orange-6: #f76;
    --j-palete-orange-7: #f77;
    --j-palete-orange-8: #f78;
    --j-palete-orange-9: #f79;
    --j-palete-orange-10: #f7a;
    --j-palete-orange-11: #f7b;
    --j-palete-orange-12: #f7c;
    --j-palete-orange-13: #f7d;
    --j-palete-orange-14: #f7e;
    --j-palete-orange-15: #f7f;
    --j-palete-pitch-yellow: #ff0;
    --j-palete-yellow: #dd2;
    --j-palete-yellow-0: #ff0;
    --j-palete-yellow-1: #ff1;
    --j-palete-yellow-2: #ff2;
    --j-palete-yellow-3: #ff3;
    --j-palete-yellow-4: #ff4;
    --j-palete-yellow-5: #ff5;
    --j-palete-yellow-6: #ff6;
    --j-palete-yellow-7: #ff7;
    --j-palete-yellow-8: #ff8;
    --j-palete-yellow-9: #ff9;
    --j-palete-yellow-10: #ffa;
    --j-palete-yellow-11: #ffb;
    --j-palete-yellow-12: #ffc;
    --j-palete-yellow-13: #ffd;
    --j-palete-yellow-14: #ffe;
    --j-palete-yellow-15: #fff;
    --j-palete-pitch-black: #000;
    --j-palete-black: #222;
    --j-palete-black-0: #000;
    --j-palete-black-1: #111;
    --j-palete-black-2: #222;
    --j-palete-black-3: #333;
    --j-palete-black-4: #444;
    --j-palete-black-5: #555;
    --j-palete-black-6: #666;
    --j-palete-black-7: #777;
    --j-palete-black-8: #888;
    --j-palete-black-9: #999;
    --j-palete-black-10: #aaa;
    --j-palete-black-11: #bbb;
    --j-palete-black-12: #ccc;
    --j-palete-black-13: #ddd;
    --j-palete-black-14: #eee;
    --j-palete-black-15: #fff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --j-color-scheme: dark;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --j-color-scheme: light;
    }
}